/* ==|== editor ==== */

.titre-push {
    font: 14px/100% "LatoBlackItalic", sans-serif;
}

.intro {
    font-weight: bold;
}

.quote {
    font: 20px/100% "LatoBlackItalic", sans-serif;
}

.quote-left {
    font: 20px/100% "LatoBlackItalic", sans-serif;
}

.quote-right {
    font: 20px/100% "LatoBlackItalic", sans-serif;
}

.contact-agence {
    
}

.scrollprojetvoyage {
    
}

.original-size {
    
}
